#dividerLineHeaderArticle {
  border: 0;
  clear: both;
  display: block;
  width: 60%;
  background-color: #2dc997;
  height: 2px;
}

#headerArticle,
#textContent {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#textArticle,
#videoArticle,
#imageArticle {
  margin: 5% 5% 5% 5%;
  color: #fff;
  font-family: "Courier New";
}

#textHeader {
  float: right;
}

#textFooter {
  position: absolute;
  bottom: 0;
}

#dividerLineTextHeader {
  border: 0;
  clear: both;
  display: block;
  width: 95%;
  background-color: #2dc997;
  height: 2px;
}
